[Unit]
Description=Secret Santa Celery broker
Requires=redis.service
After=redis.service

[Service]
WorkingDirectory=/opt/secret-santa
ExecStart=/opt/secret-santa/.venv/bin/celery -A secret_santa worker -l INFO
Restart=always

[Install]
WantedBy=multi-user.target
